/* reset */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display:  none
}

/* common */

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group .done {
    text-decoration: line-through;
    color: grey;
}